div.centered {
    text-align: center;
}

h2 {
    font-size: 50px;
}

span.measurement {
    font-size: 125px;
    color: #0d6f00;
    font-weight: 600;
}

span.units {
    font-size: 20px;
    color: #0d6f00;
}

div.startStop {
    background-color: #0d6f00;
    width: 275px;
    height:125px;
    vertical-align:middle;
    border-radius: 10px;
    margin-top: 25px;
    margin: 0 auto;
    display: table;
    overflow: hidden;
}

div#startButton {
    background-color: #0d6f00;
}

div#stopButton {
    background-color: red;
}

#buttonText {
    color: white;
    font-size: 35px;
    display: table-cell;
    vertical-align: middle;
}

img.controlButton {
    height: 25px;
    width: 25px;
}

img.btn-default {
    padding:0px;
    margin-top:15px;
    margin-left:10px;
}

button.btn-default {
    margin-top:15px;
    margin-left:10px;
    margin-right:10px;
    line-height:46px;
    width:60px;
}

